.btnPhone-outline {
    // Khai báo biến mới chứa giá trị chưa có
    // Sử dụng biến có sẵn và tính toán để thay đổi giá trị (Nếu độ chênh lệch giá trị thấ < 5px)
    @include styleBtn(transparent, $bd-2, $bd-1 solid $color-blue-2, $pd-3 + 0.5, $pd-4);
    @include styleText($color-blue-2, $fs-1, $fw-2);
    box-shadow: 0 3px 6px $color-blue-3;
    transition: all 0.5s;
    &:hover {
        @include styBtnHover($color-blue-2, $color-blue-2, $color-white-3);
    }
}

.btnPhone-blue {
    @include styleBtn(linear-gradient(120deg, #60a4f4, #2a73dd), $bd-2, none, $pd-3 + 2.5, $pd-4 + 2);
    @include styleText($color-white-3, $fs-1, $fw-2);
    transition: all 0.5s;
    letter-spacing: $ls-2;
    &:hover {
        filter: brightness(130%);
    }
}
